@page
@model WebApplication1.Pages.LoginModel
@{

    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
}

<h1>Login</h1>

<form method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
    </div>
    <input type="submit" value="Login" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
